/*
Config Center
version 2025.10.31
Author PaRr0tBoY
https://github.com/PaRr0tBoY/Awesome-Vivaldi
You may manage and config all your css mods and config them as well all in this file
*/

/* Import AutoHide folder CSS files */
/* Most disabled - Vivaldi 7.8+ has native AutoHide (Settings > Appearance > Auto-hide UI) */
@import "AutoHide/adaptiveBF.css";
/* @import "AutoHide/tabbar.css"; */
/* @import "AutoHide/bookmarkbar.css"; */
/* @import "AutoHide/panel.css"; */
/* @import "AutoHide/statusbar.css"; */

/* Import Layout folder CSS files */
@import "Layout/main.css";
@import "Layout/neatdial.css";
@import "Layout/favouritetabs.css";
@import "Layout/addressbar.css";
@import "Layout/findinpage.css";
@import "Layout/quickcommand.css";
@import "Layout/downloadpanel.css";
@import "Layout/extensionspanel.css";
@import "Layout/workspacebuttons.css";
@import "Layout/nativeautohidepolish.css";
@import "Layout/toolbarautohide.css";
/* @import "Layout/themePreviewer.css"; */

/* Import EnhancedUX folder CSS files */
@import "EnhancedUX/btnhoveranime.css";
@import "EnhancedUX/tabstrail.css";
@import "EnhancedUX/quietify.css";
@import "EnhancedUX/selectabletext.css";

/* Import JSIntegration folder CSS files */
@import "JSIntegration/cleartabs.css";
@import "JSIntegration/tidytabs.css";
/* @import "JSIntegration/arcpeek.css"; */
@import "JSIntegration/accentmod.css";
@import "JSIntegration/workspacebuttons.css";

/* Import under dev folder CSS files */
/* @import "Dev/TabStack.css"; */
/* @import "Dev/autoHidePanel.css"; */
/* @import "Dev/Tabbar.css"; */
/* @import "Dev/LineBreak.css"; */
/* @import "Dev/TileExpand.css"; */
/* @import "Layout/BraveStyleTabs.css"; */
/* @import "Layout/EdgeCurve.css"; */

/* Adjust Configure In :root */
:root {
  
  /* color, transparent, immersive */
  /* immersive requires immersiveAddressbar.js installed */
  --fluid-theme: color;
  /*on or off*/
  --fluid-compact-mode: off;

  --fluid-float-tabbar: on;
  --fluid-mask: off;
  --fluid-blur-hibernate-tab: off;

  --fluid-delay: on;
  --fluid-border-radius: on;

  --fluid-tabs-grid: on;
  --fluid-pin-at-top: off;

  --pinned-column-count: 3;
  --pinned-row-count: 3;
  --pinned-gap: 8px;
  --pinned-icon-size: 20px;
  --pinned-tab-height: 50px;

  --tabs-container-collapse-width-default: 44px;
  --tabs-container-collapse-width-compact: 7px;

  --tabs-container-expand-width: 280px;
  --tabs-subcontainer-collapse-width: 44px;
  --tabs-subcontainer-expand-width: calc(
    var(--tabs-container-expand-width) +
      var(--tabs-subcontainer-collapse-width) -
      var(--tabs-container-collapse-width-default)
  );

  --Button-newtab-main-width: calc(var(--tabs-container-expand-width) / 2);
  --Button-newtab-sub-width: calc(var(--tabs-subcontainer-expand-width) / 2);

  --tabbar-margin-top: -6px;
  --tabbar-margin-bottom: 0px;
  --tabbar-padding: 7px;

  --tabbar-border-radius-collapse: 0px;

  --slow-animation-speed: 560ms;
  --animation-speed: 260ms;
  --fast-animation-speed: 140ms;

  --transition-delay-time-expand: 0ms;
  --transition-delay-time-collapse: 200ms;

  --tabbar-bg-color-collapse: unset;
  --tabbar-bg-color-expand: unset;
  --tabbar-border-color-collapse: unset;
  --tabbar-border-color-expand: unset;

  --tab-icon-size: 16px;
  --popup-icon-size: 14px;
  --panel-icon-size: 10px;

  --window-border: 4px;
  --mac-header: 0px;
  --win-header: calc(var(--window-border) + 20px);
  --linux-header: calc(var(--window-border) + 20px);
  --addressbar-height: 36px;
  --window-button-scale: 0.8;
  --window-button-opacity: 0.3;
  --tab-padding: 0;
  --colorTransparent: transparent;

  --mod-whitespace-x: 3px;
  --mod-whitespace-y: 5px;
  --mod-whitespace-tabbar-right: 15px;
  --mod-mainbar-height: 25px;
}
