/* user_mods/css/modules/compact-mode.css */
/* Auto-compact sidebar - collapses when not hovered */

#browser.tabs-left #tabs-tabbar-container,
#browser.tabs-right #tabs-tabbar-container {
    transition: width var(--compact-transition-speed) ease;
    width: var(--normal-sidebar-width);
}

#browser.tabs-left:not(:hover) #tabs-tabbar-container,
#browser.tabs-right:not(:hover) #tabs-tabbar-container {
    width: var(--compact-sidebar-width);
}

/* Hide tab titles when collapsed */
#browser.tabs-left:not(:hover) .tab-header span.title,
#browser.tabs-right:not(:hover) .tab-header span.title {
    opacity: 0;
    transition: opacity var(--compact-transition-speed) ease;
}

#browser.tabs-left:hover .tab-header span.title,
#browser.tabs-right:hover .tab-header span.title {
    opacity: 1;
}

/* Center favicons when collapsed */
#browser.tabs-left:not(:hover) .tab-header .favicon,
#browser.tabs-right:not(:hover) .tab-header .favicon {
    margin: 0 auto;
}
