.auto-hide-wrapper.left.show {
  transition: transform 300ms cubic-bezier(.25,.8,.25,1.03) !important;
}

.auto-hide-wrapper.right.show{
  transition: transform 300ms cubic-bezier(.25,.8,.25,1.03) !important;
}

.auto-hide-wrapper.top.show{
  transition: transform 300ms cubic-bezier(.25,.8,.25,1.02) !important;
}

.auto-hide-wrapper.bottom.show{
  transition: transform 300ms cubic-bezier(.25,.8,.25,1.02) !important;
}

.auto-hide-wrapper.top{
  transition: transform 300ms cubic-bezier(.4,0,.6,1) !important;
}
.auto-hide-wrapper.bottom{
  transition: transform 300ms cubic-bezier(.4,0,.6,1) !important;
}
.auto-hide-wrapper.left{
  transition: transform 300ms cubic-bezier(.4,0,.6,1) !important;
}
.auto-hide-wrapper.right {
  transition: transform 300ms cubic-bezier(.4,0,.6,1) !important;
}
