/*
ExtensionsPanel
version 2025.01.20
Author PaRr0tBoY (modified)
https://github.com/PaRr0tBoY/Awesome-Vivaldi
*/

.toolbar-extensions {
  gap: 0 !important;
}

.toolbar-extensions .ExtensionIcon {
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}

.toolbar-extensions:hover {
  gap: var(--densityGap) !important;
}

.toolbar-extensions:hover .ExtensionIcon {
  transform: scale(1);
}

/* ========================================
   EXTENSIONS MENU STYLING
   ======================================== */

.toolbar-extensions {
  /* scrollbar-width: none; */
  gap: var(--densityGap);
}
/*============================================================================*/

.extensionIconPopupMenu {
  --popupWidth: 280px !important;
}

.extensionIconPopupMenu > .toolbar {
  max-height: 50vh;
  overflow: hidden auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.extensionIconPopupMenu .ExtensionDropdownIcon > button {
  justify-content: flex-start;
  padding: 10px;
}

.extensionIconPopupMenu .ExtensionDropdownIcon > button::after {
  content: attr(title);
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-toolbar > button > .button-badge {
  top: auto;
  right: 10px;
}
