/*
ExtensionsPanel
version 2025.01.20
Author PaRr0tBoY (modified)
https://github.com/PaRr0tBoY/Awesome-Vivaldi
*/

.toolbar-extensions {
  gap: 0 !important;
  padding: 8px !important;
  margin: -4px;
}

.toolbar-extensions .ExtensionIcon {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0;
  transition: width 0.15s ease, height 0.15s ease, opacity 0.15s ease, padding 0.15s ease, margin 0.15s ease;
}

.toolbar-extensions:hover {
  gap: 4px !important;
}

.toolbar-extensions:hover .ExtensionIcon {
  width: 28px !important;
  height: 28px !important;
  padding: 4px !important;
  opacity: 1;
}

.extensionIconPopupMenu {
  --popupWidth: 280px !important;
}

.extensionIconPopupMenu > .toolbar {
  max-height: 50vh;
  overflow: hidden auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.extensionIconPopupMenu .ExtensionDropdownIcon > button {
  justify-content: flex-start;
  padding: 10px;
}

.extensionIconPopupMenu .ExtensionDropdownIcon > button::after {
  content: attr(title);
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-toolbar > button > .button-badge {
  top: auto;
  right: 10px;
}
