body:has(#tabs-subcontainer) #tabs-container{
  max-width:18%;
  min-width:18%;
  transition: min-width 200ms ease-in, max-width 200ms ease-in;
}

body:has(#tabs-container) #tabs-subcontainer{
  max-width:82%;
  min-width:82%;
  transition: min-width 200ms ease-in, max-width 200ms ease-in;
  transform-origin: left center !important;
}

body:has(#tabs-subcontainer) #tabs-container:hover
{
  max-width:82% !important;
  min-width:82% !important;
  transition: min-width 200ms ease-out 300ms, max-width 200ms ease-out 300ms;
}

body:has(#tabs-container:hover) #tabs-subcontainer{
  max-width:18% !important;
  min-width:18% !important;
  transition: min-width 200ms ease-out 300ms, max-width 200ms ease-out 300ms;
}

#tabs-tabbar-container{
}

#tabs-container{
  container-type: inline-size;
  container-name: tabs-container;
}

@container tabs-container (max-width: 100px) {
  .toolbar-large .ToolbarButton-Button{
    display: none !important;
  }
}

#browser #tabs-tabbar-container.left ::-webkit-scrollbar,
#browser #tabs-tabbar-container.right ::-webkit-scrollbar {
  display: none;
}

#tabs-tabbar-container .SlideBar {
  display: none !important;
}

.tabs-right#browser.density-on .accordion-toggle-arrow:after,
.tabs-right#browser.density-on .tab-wrapper:after {
  display: none !important;
}
